Conteudo da nova view pdf

{% block body %}



    <img src="{{ asset('images/logo-relatorio-pequena.png') }}" alt=""/>
    <div class="description">

    </div>
    <table>
        <thead>
        <tr>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        </tbody>

    </table>

{% endblock %}