{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
<div class="row m-b-md">
    <div class="col-sm-6">
        <h1 class="m-b-xs text-black">{{ entity }}</h1>
        <small>Descrição</small>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form action="{{ "{{ path('" ~ route_name_prefix ~ "_update',{ 'id': entity.id}) }}" }}" method="post" {{ "{{ form_enctype(edit_form) }}" }} data-parsley-validate>
            <section class="panel panel-default">
                <header class="panel-heading">
                    <div class="pull-right">
                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" class="btn btn-s-md btn-default"><i class="fa fa-long-arrow-left"></i> Cancelar</a>
                        <button type="submit" class="btn btn-s-md btn-success"><i class="fa fa-save"></i> Salvar</button>
                    </div>
                    <h2 class="panel-title">Editar {{ entity }}</h2>
                </header>
                <article class="panel-body">
                    <input type="hidden" name="_method" value="PUT" />
                    {{ "{% for campo in edit_form %}" }}
                        {{ "{% if campo.vars.name == 'submit' %}" }}

                        {{ "{% elseif campo.vars.name == '_token' %}" }}
                            {{ "{{ form_widget(campo, { 'attr' : { 'class': 'form-control' } })  }}" }}
                        {{ "{% else %}" }}
                            <div class="form-group">
                                <label for="{{ "{{ campo.vars.name }}" }}" class="col-sm-2 control-label">{{ "{{ campo.vars.name }}" }}
                                    <span class="required">*</span>
                                </label>
                                <div class="col-sm-4">
                                    {{ "{{ form_widget(campo, { 'attr' : { 'class': 'form-control' } })  }}" }}
                                </div>
                            </div>
                        {{ "{% endif %}" }}
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                    {{ "{% endfor %}" }}
                </article>
                <footer class="panel-footer clearfix">
                    <div class="pull-right">
                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" class="btn btn-s-md btn-default"><i class="fa fa-long-arrow-left"></i> Cancelar</a>
                        <button type="submit" class="btn btn-s-md btn-success"><i class="fa fa-save"></i> Salvar</button>
                    </div>
                </footer>
            </section>
        </form>
    </div>
</div>
{{ "{% endblock %}" }}
{% endblock body %}
