{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
<div class="row m-b-md">
    <div class="col-sm-6">
        <h1 class="m-b-xs text-black">{{ entity }}</h1>
        <small>Descrição</small>
    </div>
</div>
<div class="row">
    <div class="col-md-12">        
        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="pull-right">
                    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-s-md btn-success"><i class="fa fa-plus"></i> Novo</a>
                    <a href="#" class="btn btn-s-md btn-default" data-toggle="modal" data-target="#ajudaModal"><i class="fa fa-question-circle"></i> Ajuda</a>
                    <div class="btn-group">
                        <button class="btn btn-s-md btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> Exportar
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_pdf') }}" }}"><i class="fa fa-file-pdf-o"></i> Salvar em PDF</a>
                            </li>
                            <li>
                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_excel') }}" }}"><i class="fa fa-file-excel-o"></i> Salvar em Excel</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h2 class="panel-title">{{ entity }}</h2>
            </header>
            <form name="filtro" action="{{ "{{ path('"~ route_name_prefix ~"') }}" }}" method="get" class="form" role="form">
                <div class="row wrapper">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input name="busca" type="text" class="input-sm form-control" placeholder="Buscar">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i> Buscar</button>
                                <button class="btn btn-sm btn-default" type="reset"><i class="fa fa-eraser"></i> Limpar</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6 m-b-xs text-right">
                        <select name="range" class="form-control input-sm input-s-xs inline v-middle">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <button type="submit" class="btn btn-sm btn-default">Aplicar</button>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            {%- for field, metadata in fields %}

                            <th class="th-sortable"{{ '{% if pagination.isSorted(\'a.'~field~'\') %}' }} class="sorted"{{ '{% endif %}' }}>
                                {{ '{{ knp_pagination_sortable(pagination, \''~field|capitalize~'\', \'a.'~field~'\') }}' }}
                            </th>

                            {%- endfor %}

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ '{% for entity in pagination %}' }}
                        <tr>
                        {%- for field, metadata in fields %}
                            {%- if loop.first %}

                            <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                            {%- elseif metadata.type in ['date', 'datetime'] %}

                            <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                            {%- else %}

                            <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                            {%- endif %}
                            {%- if loop.last %}

                            <td style="text-align: right">
                                
                                {%- include "crud/views/others/actions.html.twig.twig" %}
                                
                                <a href="#">
                                    <form class="form-destroy pull-right" action="{{ "{{ path('" ~ route_name_prefix ~ "_delete', { 'id': entity.id }) }}" }}" method="post" data-bootbox="confirm" data-message="Confirma a exclusão?" >
                                        <input type="hidden" name="_method" value="DELETE" />
                                        {{ "{{ form_widget(deleteForms[entity.id]) }}" }}
                                        <button type="submit" data-toggle="tooltip" title="Deletar" class="btn btn-danger btn-sm">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </form>
                                </a>
                            </td>

                            {%- endif %}
                        {%- endfor %}

                        </tr>
                        {{ '{% endfor %}' }}
                    </tbody>
                </table>
            </div>
            <footer class="panel-footer no-radius">
                <div class="row">
                    <div class="col-sm-4">
                        <small class="text-muted inline m-t-sm m-b-sm">Mostrando {{ "{{ pagination.getCurrentPageNumber }}" }}-{{ "{{ pagination.getItemNumberPerPage }}" }} de {{ "{{ pagination.getTotalItemCount }}" }} items</small>
                    </div>
                    <div class="col-sm-8 text-right">
                        <ul class="pagination pagination-sm m-t-xs m-b-none">
                            {{ "{{ knp_pagination_render(pagination) }}" }}
                        </ul>
                    </div>
                </div>
            </footer>
            <footer class="panel-footer clearfix">
                <div class="pull-right">
                    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-s-md btn-success"><i class="fa fa-plus"></i> Novo</a>
                    <a href="#" class="btn btn-s-md btn-default" data-toggle="modal" data-target="#ajudaModal"><i class="fa fa-question-circle"></i> Ajuda</a>
                    <div class="btn-group dropup">
                        <button class="btn btn-s-md btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> Exportar
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_pdf') }}" }}"><i class="fa fa-file-pdf-o"></i> Salvar em PDF</a>
                            </li>
                            <li>
                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_excel') }}" }}"><i class="fa fa-file-excel-o"></i> Salvar em Excel</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </section>
        <div class="modal fade" id="ajudaModal" tabindex="-1" role="dialog" aria-labelledby="ajudaModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="ajudaModalLabel">Ajuda</h4>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, aliquid, soluta, eveniet dolore saepe nesciunt doloremque alias quibusdam vero est quasi deleniti? Est obcaecati tempora ratione impedit
                            nam consequatur! Fugiat, voluptatum, quas, veniam doloribus earum praesentium alias provident quo nihil ipsum odio libero deleniti neque esse laudantium sequi dolor porro cum doloremque ea adipisci
                            mollitia officiis culpa nobis nisi accusamus perspiciatis blanditiis. Sed, voluptates, adipisci illum minima itaque ipsam ut earum repellat eius voluptas iusto porro aut ducimus obcaecati voluptatem
                            nemo ab. Modi, culpa, tenetur, cupiditate ducimus eum laboriosam excepturi voluptatum impedit dolorem eaque explicabo dolore repellat repudiandae blanditiis aliquid.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ "{% endblock %}" }}
{% endblock body %}
{{ "{% block script %}" }}
<script>
    $('.form-destroy').submit(function(event) {
        event.preventDefault();
        var form = this;
        bootbox.confirm($(form).data('message'), function(result) {
            if (result) {
                form.submit();
            }
        });
    });
</script>
{{ "{% endblock %}" }}