{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
<div class="row m-b-md">
    <div class="col-sm-6">
        <h1 class="m-b-xs text-black">{{ entity }}</h1>
        <small>Descrição</small>
    </div>
</div>
<section class="panel panel-default">
    <header class="panel-heading">
        <div class="pull-right">
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" class="btn btn-s-md btn-default"><i class="fa fa-long-arrow-left"></i> Listar</a>
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}" class="btn btn-s-md btn-success"><i class="fa fa-edit"></i> Editar</a>
        </div>
        <h2 class="panel-title">{{ entity }}</h2>
    </header>
    <article class="panel-body">
        <div class="form-horizontal">
            {%- for field, metadata in fields %}
            
            <div class="form-group">
                <label class="col-sm-2 control-label font-bold">{{ field|capitalize }}</label>
                <div class="col-sm-4">
                    
                {%- if metadata.type in ['date', 'datetime'] %}
                
                    <p class="form-control-static">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</p>
                
                {%- else %}
                
                    <p class="form-control-static">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</p>
                    
                {%- endif %}
                
                </div>
            </div>
            {%- endfor %}
            
        </div>
    </article>
    <footer class="panel-footer clearfix">
        <div class="pull-right">
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" class="btn btn-s-md btn-default"><i class="fa fa-long-arrow-left"></i> Listar</a>
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}" class="btn btn-s-md btn-success"><i class="fa fa-edit"></i> Editar</a>
        </div>
    </footer>
</section>
{{ "{% endblock %}" }}
{% endblock body %}