    /**
{% block phpdoc_method_header %}
     * Cria uma nova entidade de {{ entity }}.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}_create")
     * @Method("POST")
     * @Template("{{ bundle }}:{{ entity }}:new.html.twig")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function createAction(Request $request)
{% endblock method_definition %}
    {
{% block method_body %}
        $entity = new {{ entity_class }}();
        $form = $this->createCreateForm($entity);
        $form->handleRequest($request);

        if ($form->isValid()) {
            $em = $this->getDoctrine()->getManager();
            $em->persist($entity);
            $em->flush();

            {% if 'show' in actions -%}
                return $this->redirect($this->generateUrl('{{ route_name_prefix }}_show', array('id' => $entity->getId())));
            {%- else -%}
                return $this->redirect($this->generateUrl('{{ route_name_prefix }}'));
            {%- endif %}

        }
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return array(
            'entity' => $entity,
            'form'   => $form->createView(),
        );
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:new.html.twig', array(
            'entity' => $entity,
            'form'   => $form->createView(),
        ));
{% endif %}
{% endblock method_return %}
    }

{% block form %}
    /**
    * Gera um formulário de criação da entidade {{ entity }}.
    * @param {{ entity_class }} $entity Entidade mapeada
    * @return \Symfony\Component\Form\Form Formulário mapeado
    */
    private function createCreateForm({{ entity_class }} $entity)
    {
        $form = $this->createForm(new {{ entity_class }}Type(), $entity, array(
            'action' => $this->generateUrl('{{ route_name_prefix }}_create'),
            'method' => 'POST',
        ));

        $form->add('submit', 'submit', array('label' => 'Salvar'));

        return $form;
    }
    
    /**
     * Cria consulta padrão do doctrine
     * @param $em EntityManager, Gerenciador de entidade do Doctrine
     * @param $search Texto de busca a ser processado
     */
    private function createQuerySearch($em, $search){
        $repository = $em->getRepository('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}');
        if($search == ""){
            $query = $repository->createQueryBuilder('a')
                    ->getQuery();
        }else{
            $query = $repository->createQueryBuilder('a')
                   ->where('a.nome LIKE :nome')
                   ->setParameter('nome', '%'.$search.'%')
                   ->getQuery();
        }
        return $query;
    }
    
    /**
     * Cria o objeto de paginação com os dados carregados
     * @param $range Alcance de paginas, por exemplo de 0 à 10
     * @param $page Página atual
     * @param $query Consulta padrão do doctrine
     * @return $pagination Obejto com o resultado da paginação
     */
    private function createPagination($range, $page, $query){
        $paginator  = $this->get('knp_paginator');
        $pagination = $paginator->paginate(
            $query,
            $page,
            $range
        );
        return $pagination;
    }
    
    /**
     * Cria um array de formularios de deleção para cada item da entidade
     * @param $em EntityManager, Gerenciador de entidade do Doctrine
     * @return $deleteForms Lista de formulários de deleção de entidade {{ entity }}
     */
    private function createDeleteForms($em){
        $entities = $em->getRepository('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}')->findAll();
        foreach ($entities as $entity) {
            $deleteForms[$entity->getId()] = $this->createDeleteForm($entity->getId())->createView();
        }
        if(!isset($deleteForms)){
           $deleteForms = array(); 
        }
        return $deleteForms;
    }
    
    /**
     * Monta um arquivo excel com a listagem de dados da entidade forncecida, caso seja necessário ignorar alguma coluna
     * verificar os parametros do serviço de exportação.
     * @param $entitys Lista carregada com objetos da entidade {{ entity }}
     * @return $response Pagina de resposta com um aquivo excel
     */
    private function createExcelFile($entitys){

    $descriptionSystem = "COLOCAR A DESCRIÇÃO DO RELATÓRIO AQUI";

    return $phpExcelObject = $this->get('export.file')->exportExcel(
    'Relatório de {{ entity }}',
    $descriptionSystem,
    $entitys
    );

    }
{% endblock form %}
