
    /**
{% block phpdoc_method_header %}
     * Lista todos os registros da entidade {{ entity }}.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function indexAction(Request $request)
{% endblock method_definition %}
    {
{% block method_body %}
        $range = $request->get('range');
        $search = $request->get('busca');
        $page  = $request->get('page', 1);
        if($range == ""){ $range = 10; }
        $em = $this->get('doctrine.orm.entity_manager');
        $query = $this->createQuerySearch($em, $search);
        $pagination = $this->createPagination($range, $page, $query);
        return $this->render('{{ bundle }}:{{ entity }}:index.html.twig', [
            'pagination' => $pagination,
            'deleteForms' => $this->createDeleteForms($em)
        ]);
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return array(
            'pagination' => $pagination
        );
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:index.html.twig', array(
            'pagination' => $pagination
        ));
{% endif %}
{% endblock method_return %}
    }
