
    /**
{% block phpdoc_method_header %}
     * Exporta um arquivo pdf da relação de registro da entidade {{ entity }}.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/pdf", name="{{ route_name_prefix }}_pdf")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function pdfAction()
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();
        $entitys = $em->getRepository('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}')->findAll();
        $html = $this->renderView('CoreBundle:Export:pdf.html.twig',array(
            'entitys'   =>  $entitys
        ));
{% endblock method_body %}

{% block method_return %}
        return new Response(
            $this->get('knp_snappy.pdf')->getOutputFromHtml($html),
            200,
            array(
                'Content-Type'          => 'application/pdf',
                'Content-Disposition'   => 'attachment; filename="{{ route_name_prefix }}.pdf"'
            )
        );
{% endblock method_return %}
    }
