<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="RA">

    <title>Login</title>

    <!--Core CSS -->
    <link href="{{ asset('bs3/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-reset.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style-responsive.css') }}" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{{ asset('js/ie8/ie8-responsive-file-warning.js') }}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

  <body class="login-body" style="text-align: center;">

    <div class="container">
      <br/>
      <br/>
      {% if error %}
        <div class="alert alert-block alert-danger fade in">
            <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="fa fa-times"></i>
            </button>
            <strong>Oh! Você tem um erro!</strong> {{error.message}}
        </div>
      {% endif %}
        
        <div>
            <img src="{{ asset('images/logo.png') }}" alt="" />
            <h3>Land Of Guitars</h3>
            <h5>Terra de Guitarristas</h5>
        </div>   
        <form class="form-signin" style="background-color:#333;position:relative;top:-86px;" action="{{ path('login_check') }}" method="post">
        <div>
            <div>
                <input type="text" class="form-control" placeholder="Usuário" autofocus  id="username" name="_username" value="{{ last_username }}">
                <input type="password" class="form-control" placeholder="Senha" id="password" name="_password">
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Lembrar minha senha
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Esqueci a senha?</a>
                </span>
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit">Entrar</button>

            <div class="registration">
                Ainda não é cadastrado?
                <a class="" href="registration.html">
                    Criar uma nova conta
                </a>
            </div>

        </div>

          <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Recuperação de Senha</h4>
                      </div>
                      <div class="modal-body">
                          <p>Digite seu endereço de e-mail para que possamos enviar uma nova senha.</p>
                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                          <button class="btn" type="button">Enviar</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->

      </form>

    </div>



    <!-- Placed js at the end of the document so the pages load faster -->

    <!--Core js-->
    <script src="{{ asset('js/lib/jquery.js') }}"></script>
    <script src="{{ asset('bs3/js/bootstrap.min.js') }}"></script>

  </body>
</html>

