{%extends "::base.html.twig"%}
                
{% block body %}
<table>
    <tr>
        <td></td>
        <td><span class="icone-fase-log cla-01">T2</span></td>
        <td></td>
        <td><span class="icone-fase-log cla-02">R2</span></td>
        <td></td>
        <td><span class="mini-stat-icon tar"><i class="fa fa-tag"></i></span></td>
        <td></td>
        <td><span class="mini-stat-icon tar"><i class="fa fa-tag"></i></span></td>
        <td></td>
        <td><span class="mini-stat-icon tar"><i class="fa fa-tag"></i></span></td>
    </tr>
    <tr>
        <td></td>
        <td><span class="icone-fase-log cla-01">T1</span></td>
        <td></td>
        <td><span class="icone-fase-log cla-02">R1</span></td>
        <td></td>
        <td><span class="mini-stat-icon tar"><i class="fa fa-tag"></i></span></td>
        <td></td>
        <td><span class="mini-stat-icon tar"><i class="fa fa-tag"></i></span></td>
        <td></td>
        <td><span class="mini-stat-icon tar"><i class="fa fa-tag"></i></span></td>
    </tr>
</table>
<iframe id="player_1" src="http://player.vimeo.com/video/7100569?api=1&amp;player_id=player_1" width="540" height="304" frameborder="0"></iframe>
    
</div>
{% endblock %}
