{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
               <header class="panel-heading">
                Empresa
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-cog"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
                </header>
                <div class="panel-body">
                    <table class="table  table-hover general-table">
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nome</th>
                            <td>{{ entity.nome }}</td>
                        </tr>
                        <tr>
                            <th>Cnpj</th>
                            <td>{{ entity.cnpj }}</td>
                        </tr>
                        <tr>
                            <th>Telefone</th>
                            <td>{{ entity.telefone }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ entity.email }}</td>
                        </tr>                    </table>
                    <a href="{{ path('empresa_edit', { 'id': entity.id }) }}" class="btn btn-primary">Editar</a>    
                    <a href="{{ path('empresa') }}" class="btn btn-primary">Listar</a>    
                </div>
        </div>
    </div>
{% endblock %}
