{% extends '::base.html.twig' %}

{% block stylesheets -%}
    <link href="{{ asset('assets/data-tables/DT_bootstrap.css') }}" rel="stylesheet">
{% endblock -%}

{% block body -%}
    
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
               <header class="panel-heading">
                Usuários do Sistema
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-cog"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table editable-table">
                        <div class="clearfix">
                            <div class="btn-group">
                                <a href="{{ path('user_new') }}">
                                    <button class="btn btn-primary">
                                        Novo <i class="fa fa-plus"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="space15"></div>
                        <table class="table table-striped table-hover table-bordered" id="editable-sample">
                            <thead>
                                <tr>
                                    <th>Id</th>                                    
                                    <th>Username</th>                           
                                    <th>Perfis</th>                                    
                                    <th>Ativo</th>                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                        <td>{{ entity.username }}</td>
                                        <td style="font-size: 10px;line-height: 14px"> - {{ entity.roles|join('<br> - ')|raw }}</td>
                                        <td>{{ entity.isActive }}</td>
                                        <td style="text-align: right">                    
                                            <a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs">Visualizar</a>                    
                                            <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs">Editar</a>  
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts -%}
    <script type="text/javascript" src="{{ asset('js/lib/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/data-tables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/data-tables/DT_bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/editable-table/table-editable.js') }}"></script>
    <script>
        jQuery(document).ready(function() {
            EditableTable.init();
        });
    </script>
{% endblock -%}    
    
