{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
               <header class="panel-heading">
                Novo User
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-cog"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal bucket-form" action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>
                        {% for campo in form %}
                            {% if campo.vars.name == 'submit' %}
                               
                            {% elseif campo.vars.name == '_token' %}
                                {{ form_widget(campo, { 'attr' : { 'class': 'form-control' } })  }}
                            {% else %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{ campo.vars.name }}</label>
                                    <div class="col-sm-6">
                                      {{ form_widget(campo, { 'attr' : { 'class': 'form-control' } })  }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div align="rigth">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <a href="{{ path('user') }}" class="btn btn-primary">Voltar</a>
                        </div>
                    </form>
                        
                </div>
            </section>
        </div>
    </div>
{% endblock %}
    
    
