{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
               <header class="panel-heading">
                Editar User
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-cog"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
                </header>
                <div class="panel-body">
                    <table class="table  table-hover general-table">
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>{{ entity.username }}</td>
                        </tr>
                        <tr>
                            <th>Perfis</th>
                            <td>{{ entity.roles | join(';') }}</td>
                        </tr>
                        <tr>
                            <th>Ativo</th>
                            <td>{{ entity.isActive }}</td>
                        </tr>                    </table>
                    <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-primary">Editar</a>    
                    <a href="{{ path('user') }}" class="btn btn-primary">Listar</a>    
                </div>
        </div>
    </div>
{% endblock %}
